@model IEnumerable<MVC_Project.Models.Employee>

@*@{
    ViewData["Title"] = "GetEmployee";
}*@

<h1>Employee List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Emp_Id)*@
                Employee ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOJ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(e => item.Emp_Id)
            </td>
            <td>
                @Html.DisplayFor(e => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(e => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(e => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(e => item.Address)
            </td>
            <td>
                @Html.DisplayFor(e => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOJ)
            </td>
            <td>
                    @Html.ActionLink("Edit", "UpdateEmployee", new{ EmpId=item.Emp_Id} ) |
                    @Html.ActionLink("Delete", "deleteEmployee", new { EmpId=item.Emp_Id })
            </td>
        </tr>
}
    </tbody>
</table>
